#skyux-spa Whitesource configuration file
#Whitesource Config File Documentation
#https://whitesource.atlassian.net/wiki/spaces/WD/pages/489160834/Unified+Agent+Configuration+File+Parameters
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false
wss.url=https://app.whitesourcesoftware.com/agent
npm.resolveDependencies=true
npm.identifyByNameAndVersion=true
npm.runPreStep=false
npm.includeDevDependencies=true
bower.resolveDependencies=false
nuget.resolveDependencies=false
python.resolveDependencies=false
maven.resolveDependencies=false
gradle.resolveDependencies=false
paket.resolveDependencies=false
go.resolveDependencies=false
ruby.resolveDependencies=true
ruby.identifyByNameAndVersion=true
ruby.includeDevDependencies=true
ruby.runBundleInstall=true
sbt.resolveDependencies=false
php.resolveDependencies=false
html.resolveDependencies=true
html.identifyByNameAndVersion=true
html.includeDevDependencies=true
cocoapods.resolveDependencies=false
r.resolveDependencies=false
cargo.resolveDependencies=false
bazel.resolveDependencies=false
projectName=adminifi
productName=foundry
includes=**/*.js **/*.rb **/*.html **/*.html.erb
case.sensitive.glob=false
followSymbolicLinks=true
