name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.4
            gemfile: Gemfile
            elasticsearch: 9
          - ruby: 3.3
            gemfile: gemfiles/activerecord80.gemfile
            elasticsearch: 9.0.0
          - ruby: 3.2
            gemfile: gemfiles/activerecord72.gemfile
            elasticsearch: 8
          - ruby: 3.4
            gemfile: gemfiles/opensearch3.gemfile
            opensearch: 3
          - ruby: 3.3
            gemfile: gemfiles/opensearch2.gemfile
            opensearch: 2
          - ruby: 3.4
            gemfile: gemfiles/mongoid9.gemfile
            elasticsearch: 9
            mongodb: true
          - ruby: 3.2
            gemfile: gemfiles/mongoid8.gemfile
            # TODO fix plugin installation for earlier versions
            elasticsearch: 8.5.0
            mongodb: true
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle update

      - uses: actions/cache@v4
        if: ${{ matrix.elasticsearch }}
        with:
          path: ~/elasticsearch
          key: ${{ runner.os }}-elasticsearch-${{ matrix.elasticsearch }}
      - uses: ankane/setup-elasticsearch@v1
        if: ${{ matrix.elasticsearch }}
        with:
          elasticsearch-version: ${{ matrix.elasticsearch }}
          plugins: |
            analysis-kuromoji
            analysis-smartcn
            analysis-stempel
            analysis-ukrainian

      - uses: actions/cache@v4
        if: ${{ matrix.opensearch }}
        with:
          path: ~/opensearch
          key: ${{ runner.os }}-opensearch-${{ matrix.opensearch }}
      - uses: ankane/setup-opensearch@v1
        if: ${{ matrix.opensearch }}
        with:
          opensearch-version: ${{ matrix.opensearch }}
          plugins: |
            analysis-kuromoji
            analysis-smartcn
            analysis-stempel
            analysis-ukrainian

      - uses: ankane/setup-mongodb@v1
        if: ${{ matrix.mongodb }}

      - run: |
          sudo apt-get update
          sudo apt-get install redis-server
          sudo systemctl start redis-server
      - run: bundle exec rake test
